@charset "UTF-8";

.wrap {
	width: 99%;
	min-height: 300px;
	margin: auto;
	text-align: center;
}

.product_area {
	width: 20%;
	height: 40%;
	background-color: white;
	border: 3px solid red; 
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 50px;
	
}

.product_img_area{
	width:100%;
	height: 80%;
	border: 1px solid blue;
}

.product_img {
	width:100%;
	height: 100%;
	
}

.product_info_area{
	width:100%;
	height: 20%;
	border: 1px solid green;
	text-align: center;
}


.product_name {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.product_price {
	font-size: 20px;
	color: gray;
}
